#menu-container {
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#left {
    display: flex;
    justify-content: space-around;
    width: 20%;
    color: gray;
}

.navbar-nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: red;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#right {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
}

#text {
    position: absolute;
    margin-top: 80px;
    margin-left: 200px;
    font-size: 20px;
}

#menu2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#left2 {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

#right2 {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

#col1 {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 80%;
}

#tien1 {
    display: flex;
    align-items: center;
    justify-content: left;
}

#col2 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    width: 80%;
}

#col3 {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    width: 80%;
}

.btn-primary {
    background-color: rgb(10, 123, 48);
    color: white;
    border-radius: 3px;
}

#col_item {
    display: flex;
    flex-direction: column;
}

#bestseller {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 180px;
    background-color: rgb(227, 172, 71);
    width: 80px;
    border-radius: 7px;
    color: rgb(44, 40, 40);
}

#new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 190px;
    background-color: rgb(227, 172, 71);
    width: 50px;
    border-radius: 10px;
    color: rgb(44, 40, 40);
}

#tien1 {
    display: flex;
    justify-content: space-around;
}

#number {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

#two {
    display: flex;
    align-items: center;
    color: rgb(31, 191, 31);
    border-radius: 10px;
    width: 20px;
    height: 15px;
    background-color: whitesmoke;
    justify-content: space-around;
}

#bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: black;
    color: white;
}

#left4 {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

#help {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

#right4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
}

#mxh {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email {
    margin-top: 10px;
    display: flex;
}

#sub {
    display: flex;
    background-color: rgb(10, 123, 48);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}